n8n/rules_controller.json
{
  "name": "rules_controller",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query_rules"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "id": "1b44639a-902f-4f6f-8b5f-327605ec9ddd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        180
      ],
      "id": "1021e1b4-b8d0-4731-8b8d-d9082a1407cb",
      "name": "When chat message received",
      "webhookId": "71d01d50-7b9d-45b4-97f3-1c2fbc918b6d",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }} || {{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tienes acceso al sistema de reglas del juego de rol titulado Knave a través de la herramienta Postgres PGVector Store.\nDebes usar esta herramienta para proporcionar información clara, detallada y precisa sobre cualquier aspecto del juego que se te consulte.\n\n-Si se te pregunta sobre creación de personajes, debes detallar todos los pasos necesarios para crear un personaje, incluyendo la asignación de características, clases, inventario y cualquier otro detalle relevante.\n\n-Si se te pregunta sobre combate, debes describir el sistema de combate, cómo se calculan los ataques, la defensa, el daño y cualquier otro detalle importante.\n\n-Si se te pregunta sobre subida de nivel o progresión de personajes, debes explicar cómo mejorar las características, habilidades o cualquier otro aspecto del personaje.\n\n-Si te preguntan por algún objeto debes de incluir su coste, y sus características.\n\n-Si no encuentras una regla específica, responde claramente que no existe una regla definida y sugiere al Narrador que improvise según su criterio.\n\n-Usa siempre un tono claro y preciso.\n\n-Si la respuesta implica varias etapas (por ejemplo, creación de personaje), preséntalas como una lista ordenada.\n\n-Siempre recuerda indicar que, en caso de duda, el Narrador tiene la autoridad final.\n\n-Puede que te pregunten por algún termino que no aparece en el documento, como puntos de vida, que sería equivalente a puntos de golpe, debes interpretar lo que quiere decir y dar la respuesta adecuada.\n\n-Es imperativo que no inventes cosas como clases u otros elementos que no están en las reglas, aunque si lo estén en otros juegos de rol.\n\n-Se especifico en las respuestas.\n\n-Te proporciono algo de vocabulario útil: 1d6 significa para un juego de rol, que debe tirarse un dado de seis caras. El numero antes de la \"d\" determina el número de dados a lanzar. El número detrás de la \"d\" determina el número de caras del dado o los dados a lanzar. La \"d\" también puede ser mayúscula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        112,
        0
      ],
      "id": "cf25ea74-f849-4d4b-9d26-a1e4e4340294",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "id": "b58c7af0-1126-41cb-b14d-8bde8a4312c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3OuBtjZj9GbiCGfk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session_reglas",
        "tableName": "n8n_chat_rules"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        220,
        220
      ],
      "id": "d9717160-5dce-493c-98a8-cffa4be2c463",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "btcvao5zoGI73Y56",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Knave_rules",
        "toolDescription": "Provee de todo el conjunto de reglas para el juego Knave.",
        "tableName": "knave_n8n_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        500,
        220
      ],
      "id": "31807276-f3a3-48d5-8e5f-a0b04dea62b8",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "btcvao5zoGI73Y56",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        380
      ],
      "id": "b194a729-6c7b-46f0-8312-382ad028c54c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3OuBtjZj9GbiCGfk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        360,
        220
      ],
      "id": "d7ded10b-bce9-48d9-8308-572e99bc1530",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb0acf5f-0e9b-47cc-8655-31bce2d7cb73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb8a1f649dcbecdbbf9304f18748ad20873c85400d0ffd3afe2830b61cab1c41"
  },
  "id": "QWaAndbRR3TTphfF",
  "tags": []
}